<form action='/authors' method='GET'>
    <label>search</label>
    <input type='text' name='name' value="<%= searchOptions.name %>">

</form>
<% authors.forEach((author)=>{%>
    <%= author.name %>
<%})%>